.idea/
.*cache/
*.egg-info/
build/
dist/
**/.ipynb_checkpoints/
**/*.pyc
**/__pycache__

data/
*.npy
*.npz
*.pkl
*.gz
*.pt
*.c
*.so
.envrc
environment.yml
game_lengths/
gameplay_figs/
*.png
trained_models/
.vscode
Untitled*.ipynb